# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [3]:
s = set(range(1,11))
print(s, type(s))
s = {1,2,3,4}
print(s,type(s))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10} <class 'set'>
{1, 2, 3, 4} <class 'set'>


### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [11]:
s.add(11)
s.add(1)
s.add(6)
print(s)
s.remove(1)
print(s)

{1, 2, 3, 4, 6, 11}
{2, 3, 4, 6, 11}


### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [17]:
s1 = set(range(1,5))
s2  = set(x for x in range(1,11) if x%2 == 0)
print(s1,s2)
s3 = s1.union(s2)
print(s3)

s4 = s1.intersection(s2)
print(f"intersection : {s4}")

s5 = s1.symmetric_difference(s2)
print(f"symentic difference {s5}")

{1, 2, 3, 4} {2, 4, 6, 8, 10}
{1, 2, 3, 4, 6, 8, 10}
intersection : {2, 4}
symentic difference {1, 3, 6, 8, 10}


### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [ ]:
s2={x**2 for x in range(1,11)}
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}
1
4
9
16
25
36
49
64
81
100


### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [ ]:
s1 = set(range(1,11))
print(s1)
s2 = set(x for x in s1 if x%2 ==0)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{2, 4, 6, 8, 10}


### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [8]:
s1= {1,2,2,3,3,4,5,5,5,4,23}
print(s1)

{1, 2, 3, 4, 5, 23}


### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [ ]:
s1 ={1,2,3,4,5}
s2={1,2,3}
print(f" s2 is a subset of s1 {s2.issubset(s1)}")
print(f" s1 is a subset of s2 {s1.issubset(s2)}")
print(f" s1 is a superset of s2 {s1.issuperset(s2)}")

 s2 is a subset of s1 True
 s1 is a subset of s2 False
 s1 is a superset of s2 True


### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [ ]:
s1 = frozenset({1,2,3,4,54})
print(s1)

frozenset({1, 2, 3, 4, 54})

frozenset({1, 2, 3, 4, 12, 54})


### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [1]:
s1 = set(range(1,6))
print(s1)
l1 = list(s1)
l1.append(6)
print("lise",l1)
s1 = set(l1)
print(s1)

{1, 2, 3, 4, 5}
lise [1, 2, 3, 4, 5, 6]
{1, 2, 3, 4, 5, 6}


### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [3]:
d = {
    frozenset({1, 2}): 3,
    frozenset({3, 4}): 7,
    frozenset({5, 6}): 11
}
print(d)

{frozenset({1, 2}): 3, frozenset({3, 4}): 7, frozenset({5, 6}): 11}


### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [5]:
s1=set(range(1,11))
for x in s1:
    print(x)

1
2
3
4
5
6
7
8
9
10


### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [16]:
s1 = set(range(1,11))
print(f"originl set {s1}")
length_of_original_set = len(s1)
for x in range(length_of_original_set):
    s1.pop()
    print(s1)


s = set(range(1, 6))
while s:
    s.pop()
    print(s)

originl set {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{2, 3, 4, 5, 6, 7, 8, 9, 10}
{3, 4, 5, 6, 7, 8, 9, 10}
{4, 5, 6, 7, 8, 9, 10}
{5, 6, 7, 8, 9, 10}
{6, 7, 8, 9, 10}
{7, 8, 9, 10}
{8, 9, 10}
{9, 10}
{10}
set()
{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()


### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.symmetric_difference_update(set2)
print(set1)


### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [17]:
s = set(range(1, 6))
print(3 in s)
print(6 in s)
print(0 in s)

True
False
False


### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [18]:
s = { (1, 2), (3, 4), (5, 6) }
print(s)

{(1, 2), (3, 4), (5, 6)}