# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples

### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [4]:
t1 = tuple((range(1,11)))
print(t1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)




### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [20]:
print(t1[1])
middle_tuple = len(t1)
# print(mi)
print(t1[len(t1)//2])
print(t1[len(t1)-1])

2
6
10


### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [36]:
print(f"first three element : {t1[0:3]}")
print(f"last three element : {t1[-3:]}")
print(t1[2:6])

first three element : (1, 2, 3)
last three element : (8, 9, 10)
(3, 4, 5, 6)



### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [41]:
matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print("Matrix:")
for row in matrix:
    print(row)
print(f"Element at second row and third column: {matrix[1][2]}")

Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Element at second row and third column: 6


### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [43]:
tpl1=(1,2,3)
tpl2=(4,5,6)
print(f"tpl1 : {tpl1} , tpl2 : {tpl2}")
print(tpl1 + tpl2)

tpl1 : (1, 2, 3) , tpl2 : (4, 5, 6)
(1, 2, 3, 4, 5, 6)


### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [52]:
tpl4 = (1,2,4,5,6,43,3,23,33,34,3,2,3,4)
tpl3 = tpl2 + tpl1 + tpl4 
print(tpl3)

print(tpl3.count(2))
print(tpl3.index(2))

(4, 5, 6, 1, 2, 3, 1, 2, 4, 5, 6, 43, 3, 23, 33, 34, 3, 2, 3, 4)
3
4


### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [56]:
tpl = (1,2,3,4,5)
a,b,c,d,e = tpl
print(a,b,c,d,e)

1 2 3 4 5


### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [57]:
l1= [1,2,3,45,5]
tpl = tuple(l1)
print(tpl)

(1, 2, 3, 45, 5)


### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [58]:
tpl = (
    (1,2,3),
    (3,4,5),
    (6,7,8)
)
print(tpl)

((1, 2, 3), (3, 4, 5), (6, 7, 8))


### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [60]:
tpl = (1,2,34,4,5)
lst = list(tpl)
lst.append(6)
tpl = tuple(lst)
print(tpl)

(1, 2, 34, 4, 5, 6)


### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [65]:
tpl = ("a","v","i","n","a","s","h")
data= str()
for x in tpl:
    data = data + x
print(data)

string = "hello"
tpl = tuple(string)
print(tpl)
joined_string = ''.join(tpl)
print(joined_string)

avinash
('h', 'e', 'l', 'l', 'o')
hello


### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [78]:
tpl_dict = {
    (1, 2): 3,
    (4, 5): 6,
    (7, 8): 9
}
print(tpl_dict)
print(tpl_dict.get((1,2),"No data found"))

{(1, 2): 3, (4, 5): 6, (7, 8): 9}
3


### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [ ]:
nested_tpl = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
for tpl in nested_tpl:
    for elem in tpl:
        print(elem)


### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [79]:
tpl = (2,3,4,3,3,4,5,5,5,4,3,3)
print(tpl)
print(set(tpl))

(2, 3, 4, 3, 3, 4, 5, 5, 5, 4, 3, 3)
{2, 3, 4, 5}


### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [82]:
def min_max_sum_tuple(tp:tuple):
    print(max(tp))
    print(min(tp))
    print(sum(tp))

print(tpl)
print(min_max_sum_tuple(tpl))

(2, 3, 4, 3, 3, 4, 5, 5, 5, 4, 3, 3)
5
2
44
None