# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [2]:
t1 = tuple(range(1,11))
print(t1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)


### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [ ]:
print(t1[0])
print(t1[len(t1) // 2])
print(t1[len(t1) - 1])

1
6
10


### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [ ]:
print(t1[0:3])
print(t1[-3:])
print(t1[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)


### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [11]:
t2=(
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

for row in t2:
    print(row)

print(t2[1][2])

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
6


### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [12]:
t1 = (1,2,3)
t2=(3,4,5)
concat_tuple = t1 +  t2
print(concat_tuple)

(1, 2, 3, 3, 4, 5)


### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [ ]:
import random
t1 = tuple(random.randint(1,21) for _ in range(1,21))
print(t1)

print("occurence count ",t1.count(9))
print("index of the first element",t1.index(9))

(6, 1, 3, 11, 18, 17, 9, 7, 4, 12, 14, 21, 15, 9, 7, 19, 8, 11, 4, 9)
occurence count  3
index of the first element 6


### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [ ]:
t1 = (1,2,3,4,5)
a,b,c,d,e = t1
print(a,b,c,d,e)

1 2 3


### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [29]:
l1 = list(range(1,10))
print("list",l1)
t1 = tuple(l1)
print(t1)

list [1, 2, 3, 4, 5, 6, 7, 8, 9]
(1, 2, 3, 4, 5, 6, 7, 8, 9)


### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [30]:
t1 = (
    (1,2,3),
    (4,5,6),
    (6,7,8)
)

for row in t1:
    print(row)

(1, 2, 3)
(4, 5, 6)
(6, 7, 8)


### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [32]:
t1 = tuple(range(1,7))
print(f"originl tuple {t1}")

l1 = list(t1)
l1.append(9)
print(f"updated list {l1}")
t1 = tuple(l1)
print(f"updated tuple {t1}")

originl tuple (1, 2, 3, 4, 5, 6)
updated list [1, 2, 3, 4, 5, 6, 9]
updated tuple (1, 2, 3, 4, 5, 6, 9)


### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [36]:
string = "Avinash"
t1 = tuple(string)
print(t1)
joined_string = "".join(t1)
print(joined_string)

('A', 'v', 'i', 'n', 'a', 's', 'h')
Avinash


### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [39]:
d1 = {
    ("hello","Wllo"):322,
    (1,2):32232,
    (4,6):"ne2"
}
print(d1)

tpl_dict = {
    (1, 2): 3,
    (4, 5): 6,
    (7, 8): 9
}
print(tpl_dict)

{('hello', 'Wllo'): 322, (1, 2): 32232, (4, 6): 'ne2'}
{(1, 2): 3, (4, 5): 6, (7, 8): 9}


### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [47]:
nested_tpl = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9),
    1,
)

for row in nested_tpl:
    if isinstance(row,tuple):
        for elem in row:
            print(elem)
    else:
        print(row)

1
2
3
4
5
6
7
8
9
1


### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [50]:
from random import randint
t1= tuple(randint(1,21) for _ in range(1,21))
print("original tuple",t1)
s1 = set(t1)
print(s1)

original tuple (1, 1, 2, 17, 2, 21, 20, 21, 9, 2, 3, 9, 18, 11, 12, 16, 20, 6, 20, 5)
{1, 2, 3, 5, 6, 9, 11, 12, 16, 17, 18, 20, 21}


### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [56]:
from random import randint
def min_in_tuple(tpl):
    return min(tpl)

def max_in_tuple(tpl):
    return max(tpl)

def sum_of_tuple(tpl):
    return sum(tpl)
 
sample_tpl = tuple(randint(1,21) for _ in range(1,21))
print(f"Minimum: {min_in_tuple(sample_tpl)}")
print(f"Maximum: {max_in_tuple(sample_tpl)}")
print(f"Sum: {sum_of_tuple(sample_tpl)}")

Minimum: 3
Maximum: 21
Sum: 281

In [1]:
def is_palindromic_tuple(tup):
    # Your code goes here
    if len(tup) <= 0 :
        return False
    
    for x in range(len(tup) // 2):
        backward_length = int((len(tup) -1) - x)
        if(tup[x] == tup[backward_length]):
            continue
        else:
            return False
    return True

def is_palindromic_tuple2(tup):
    # Your code goes here
    if len(tup) <= 0 :
        return False
    reversed_tup = reversed(tup)
    if tup == reversed_tup:
        return True
    else:
        return False

t1 = (1, 2, 3, 2, 1)
t2 = ('a', 'b', 'c', 'b', 'a')
t3 = ('a', 'b', 'c', 'b',)
print(is_palindromic_tuple(t1))
print(is_palindromic_tuple(t2))
print(is_palindromic_tuple(t3))

True
True
False