In [2]:
import pandas as pd

data  = [1,2,3,4,5]
series = pd.Series(data) 
print(series)
print(type(series))

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

In [6]:
# Making series using dictionary
data= {"a":1,"b":2,"c":4}
print(data)
series = pd.Series(data)
print(series)

{'a': 1, 'b': 2, 'c': 4}
a    1
b    2
c    4
dtype: int64

In [8]:
data = [1,2,3,4]
index=["a","b","c","d"]
pd.Series(data,index=index)

a    1
b    2
c    3
d    4
dtype: int64

In [11]:
# Dataframe
# create a dataframe with dictonary
data = {
    "Name":['Avi',"john",'jack'],
    "Age":[22,33,44],
    "City":['Indore','New York','Dhar']
}
df = pd.DataFrame(data)
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

   Name  Age      City
0   Avi   22    Indore
1  john   33  New York
2  jack   44      Dhar

In [13]:
import numpy as np
# np.array(data)
np.array(df)

array([['Avi', 22, 'Indore'],
       ['john', 33, 'New York'],
       ['jack', 44, 'Dhar']], dtype=object)

In [14]:
# Create a data frame with list of dictonary
data = [
    {"Name":"Avi",	"Age":22,"City":"Indore"},
    {"Name":"john",	"Age":22,"City":"New York"},
    {"Name":"jack",	"Age":22,"City":"Dhar"},
]

pd.DataFrame(data)

   Name  Age      City
0   Avi   22    Indore
1  john   22  New York
2  jack   22      Dhar